* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E8E8E8;
}

:root {  /*applied globally*/
  --grid-cols: 1; /*create variables*/
  --grid-rows: 1;
} 

#grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr); /*calling our global variable*/
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 500px;
  height: 500px;
  margin: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-item {
  padding: 0.1em;
  text-align: center;
  background-color: white;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1100px;
  margin-top: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex: 2 1;
  height: 200px;
  margin-left: 200px;
}

button {
  padding: 10px 20px;
  width: 200px;
  border: none;
  border-radius: 5px;  
  background-color: #ff9b9b;
  color: #000000;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

.slider-container {
  width: 77%; /* Width of the outside container */

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #ff9b9b; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%; 
  background: #93a8a0; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#output {
  font-size: larger;
  color:rgb(255, 110, 110);
  margin-bottom: -15px;
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
